{% extends 'base.html.twig' %}

{% block title %}Управление Комментариями{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-12">

                <div class="row border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative bg-white">
                    <div class="col-sm-12">
                        <h1>Управление комментариями {{ pagination.totalItemCount }}</h1>

                        {% include 'admin/filter.html.twig' with { app: app, deletedLabel: 'Удаленные комментарии' } %}

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Статья</th>
                                <th>Автор</th>
                                <th>Комментарий</th>
                                <th>Дата</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for comment in pagination %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_detailse', { id: comment.article.slug }) }}">
                                            {{ comment.article.title }}
                                        </a>
                                    </td>
                                    <td>{{ comment.authorName }}</td>
                                    <td style="width: 20%;">{{ comment.content|u.truncate(40, '...') }}</td>
                                    <td>{{ comment.createdAt|ago }} {% if comment.deleted %} Удален {% endif %}</td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="4">Нет комментариев</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
